*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    
}
:root{
    --color-primary: #191d2b;
    --color-secondary: #c0366b;
    --color-white: #ffffff;
    --color-black: #000;
    --color-grey-0: #f8f8f8;
    --color-grey-1: #dbe1e8;
    --color-grey-2: #b2becd;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #2a2e35;
    --color-grey-6: #12181b;
    --default-font: 1.1rem;
    --border-radius: 14px;
    --default-transition: all .4s ease-in-out;
    --box-shadow-1: 0 3px 15px rgba(o,o,o,o.3);

}

body{
    background-color: var(--color-primary);
    font-family: 'Poppins', sans-serif;
    font-size: var(--default-font);
    color: var(--color-white);
    transition: var(--default-transition);
}

a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

header{
    height: 100vh;
    color: var(--color-white);
    overflow: hidden;
}

section{
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top:0;
    padding: 3rem 7rem;
      @media screen and (min-width: 400px) and (max-width: 900px) {
        padding: 5rem 5rem;
    }  
    @media screen and (min-width: 2000px) and (max-width: 2560px) {
        padding: 5rem 18rem;
    }
}

.section{
    transform: translateY(-100%) scale(0);
    transition: var(--default-transition);
    background-color: var(--color-primary);
}

.sec1{
    display: none;
    transform: translateY(0) scale(1);

}

.sec2{
    display: none;
    transform: translateY(0) scale(1);

}
.sec3{
    display: none;
    transform: translateY(0) scale(1);

}
.sec4{
    display: none;
    transform: translateY(0) scale(1);

}
.sec5{
    display: none;
    transform: translateY(0) scale(1);

}

.active{
    display: block;
    animation: sectionsAnimation 0.8s ease-in-out;

    @keyframes sectionsAnimation {
        0%{
            transform: translateY(-100%) scaleY(0);
        }
        100%{
            transform: translateY(0) scaleY(1);
        }
    }
}

//controls

.controls{
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    .active-btn{
        background-color: var(--color-secondary) !important;
        transition: var(--default-transition);

       
        i{
            color: var(--color-white) !important;
        }
    }
    .control{
        padding: 1rem;
        cursor:pointer;
        background-color: var(--color-grey-4);
        height: 55px;
        width: 55px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.7rem 0;
        box-shadow: var(--box-shadow-1);
        transition: var(--default-transition);

        &:hover{
            font-size: 1.5rem;
           
        }
        .i{
            font-size: 1.2rem;
            color: var(--color-grey-2);
            pointer-events: none;
        }
      
    }
}

//Header-content
.home-content{
    display: grid;
    grid-template-columns:repeat(2, 1fr) ;
    height: 100%;

    .left-content{
        display: flex;
        align-items: center;
        position: relative;

        .h-shape{
            position: absolute;
            transition: var(--default-transition);
            width: 65%;
            height: 100%;
            background-color: var(--color-secondary);
            left: 0;
            top: 0;
            z-index: -1;
            clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
        }

        .image{
            border-radius: var(--border-radius);
            height: 90%;
            width: 68%;
            margin-left: 4rem;
            background-color: var(--color-black);
            transition: var(--default-transition);
            .img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: var(--default-transition);
                filter:grayscale(100%) ;

                &:hover{
                    filter: grayscale(0);
                }
            }
        }   
    }

    .right-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 8rem;
          
        .name{
            font-size: 2.7rem;
            overflow: hidden;
            white-space: nowrap;
            animation: text-entrance 2s steps(20) both;
          
            span{
                color: var(--color-secondary);
            }
            @keyframes text-entrance {
                0%{
                    width: 0;
                }
                100%{
                    width: 100%;
                }
            }
            p{
                margin: 2rem 0;
                line-height: 2rem;
                
            }
        }
    }
}

//About Section

.about-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 3rem;
    padding-bottom: 4rem;

    @media screen and (min-width: 300px) and (max-width: 950px){
 
        display: inline;  
    }
    .right-about{
        display: grid;
        grid-template-columns: repeat(2, 1fr );
        grid-gap: 1.4rem;

       .about-item{
        border: 1px solid var(--color-grey-5);
        border-radius: 5px;
        transition: var(--default-transition);
        box-shadow: 1px 2px 15px rgba(0,0,0,.1);
        &:hover{
            cursor: default;
            transform: translateY(-5px );
            border: 1px solid var(--color-secondary);
            box-shadow: 1px 4px 15px rgba(0,0,0,.32);
        }
        .abt-text{
            padding: 1.5rem;
            display: flex;
            flex-direction: column;
            .large-text {
                font-size: 2rem;
                font-weight: 600;
                color: var(--color-secondary);
            }
            .small-text{
                padding-left: 2rem;
                position: relative;
                text-transform: uppercase;
                font-size: 1rem;
                color: var(--color-grey-1);
                letter-spacing: 2px;
                &::before{
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 15px;
                    width: 1.6rem;  
                    height: 2px;
                    background-color: var(--color-grey-5);
                }
            }
        }
       }
    }

    .left-about{
        padding-right: 1rem;
        

        p{
            line-height: 2rem;
            padding: 1rem;
            color: var(--box-shadow-1);

            @media screen and (min-width:1700) and (max-width: 2800){
                font-size: 1.5rem;
                line-height: 3rem;
                
                
            }

        }
        h4{
            font-size: 2rem;
            text-transform: uppercase;
            color: var(--color-secondary);

             @media screen and (min-width: 1700) and (max-width:2800) {
            font-size: 4rem;
        }
        }

    
       
    }

   
}


//Independent components
.btn-container{
    display: flex;
    //align-self: flex-start;
    margin-top: 2rem;
}
.main-btn{
    border-radius: 30px;
    color: inherit;
    font-weight: 500;
    position: relative;
    border: 2px solid var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: flex-start;
    overflow: hidden;
    width: 40%;

    @media screen and (min-width: 400px) and (max-width: 900px) {
          width:60% ;
          margin-bottom: 2rem;
    }  
    @media screen and (min-width: 900px) and (max-width: 1400px) {
        width:60% ;
    }
    

    .btn-text{
        padding-left: 1rem;
    }
    .btn-icon{
        color: var(--color-white);
        background-color: var(--color-secondary);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 1rem;
    }

    &::before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: var(--default-transition);
        z-index: -1;
    }
    
    &:hover{
        &::before{
            width:100% ;
            height:100%;
            background-color: var(--color-secondary);
            transform: translateX(0);
            transition: all 1s ease-in-out;
        }

        
    }
       

}


.title{
    text-align: center;

    h3{
        position: relative;
        text-transform: uppercase;
        font-size: 2.8rem;
        font-weight: 700;
        span{
            color: var(--color-secondary);
        }
        .bg-text{
            position: absolute;
            top: 50%;
            left: 50%;
            color: var(--color-grey-5);
            transition: var(--default-transition);
            z-index: -1;
            transform: translate(-50%, -50%) ;
            font-weight: 800;
            font-size: 4rem;
        }
    }
}

